.text-caixa-dias{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    
}
.text-caixa-semanas{
    font-size: 1.2em;
    display: flex;
    justify-content: center;

}

.align-bottom{
    display: flexbox;
}

